@namespace h "http://www.w3.org/1999/xhtml";
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.calibre2 {
    height: 303px;
    text-align: left;
    width: 200px
    }
.calibre3 {
    display: block
    }
.calibre4 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    display: list-item
    }
.calibre7 {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit
    }
.calibre8 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre9 {
    border: 0;
    display: block;
    height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.end {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.enote {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.indentb {
    color: #003;
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.information {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
.numbered {
    color: #003;
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.ptoc {
    display: block;
    margin-bottom: 10pt;
    margin-left: 20;
    margin-right: 0;
    margin-top: 10pt;
    text-indent: 10mm
    }
.title {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.tocheading {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20pt;
    text-align: center
    }